<p id="notice"><%= notice %></p>

<h1>Booking Records</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booking_records.each do |booking_record| %>
      <tr>
        <td><%= booking_record.name %></td>
        <td><%= booking_record.description %></td>
        <td><%= link_to 'Show', booking_record %></td>
        <td><%= link_to 'Edit', edit_booking_record_path(booking_record) %></td>
        <td><%= link_to 'Destroy', booking_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking Record', new_booking_record_path %>
